*
  -webkit-tap-highlight-color transparent
  box-sizing border-box

html
  height 100%
  font-size 10px

body
  color #242629
  height 100%
  background-color #f2f4f6
  font-family 'Arial', sans-serif
  font-size 1.4rem
  display flex
  margin 0
  flex-direction column
  -webkit-font-smoothing antialiased
  text-size-adjust 100%

a
  color #0366d6
  text-decoration none
  transition color .2s

  &:hover
    color darken(#0366d6, 20%)
